#fullname {
    font-family: 'Comfortaa', sans-serif;
    font-size: 35px;
    text-align: center;
}

#specialization {
    font-family: 'Comfortaa', sans-serif;
    margin-top: -30px;
    font-size: 18px;
    text-align: center;
    -webkit-text-fill-color: gray;
}

#avatar-img {
    display: block;
    border-radius: 60px;
    margin-right: auto;
    margin-left: auto;
    height: 120px;
    width: 120px;
    box-shadow: 0px 1px 5px 1px #8d848483;
    animation-name: bosilish;
    animation-duration: 200ms;
    -webkit-animation-name: bosilish;
    -webkit-animation-duration: 200ms;
}

@keyframes bosilish {
    0% {box-shadow: 1px 1px #888888; }
    50% {box-shadow: 0.5px 0.5px #888888; }
    100% {box-shadow: 0.5px 0.5px #944a4a; }
}

@-webkit-keyframes bosilish {
    0% {box-shadow: 1px 1px #888888; }
    50% {box-shadow: 0.5px 0.5px #888888; }
    100% {box-shadow: 0.5px 0.5px #944a4a; }
}

.soc-link-logo {
    height: 32px;
    width: 32px;
    margin-right: 5px;
}

footer {
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

section {
    display: block;
    margin: auto;
    height: 32px;
    width: 9%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    animation-name: paslash;
    animation-duration: 700ms;
    -webkit-animation-name: paslash;
    -webkit-animation-duration: 700ms;
}

header {
    margin-top: 30px;
    animation-name: paslash;
    animation-duration: 700ms;
    -webkit-animation-name: paslash;
    -webkit-animation-duration: 700ms;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@keyframes paslash {
    0% {margin-top: 1px; opacity: 0; }
    50% {margin-top: 15px; opacity: 0;}
    75% {opacity: 0.5; }
    100% {margin-top: 30px; opacity: 1;}
}

@-webkit-keyframes paslash {
    0% {margin-top: 1px; opacity: 0; }
    50% {margin-top: 15px; opacity: 0;}
    75% {opacity: 0.5; } 
    100% {margin-top: 30px; opacity: 1; }
}

div.soc-links {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}