p.ism-sharif {
    font-family: 'Comfortaa', sans-serif;
    font-size: 35px;
    text-align: center;
}

p.specialization {
    font-family: 'Comfortaa', sans-serif;
    margin-top: -30px;
    font-size: 18px;
    text-align: center;
    -webkit-text-fill-color: gray;
}

.img-circle {
    display: block;
    border-radius: 60px;
    margin-right: auto;
    margin-left: auto;
    height: 120px;
    width: 120px;
}

.soc-link-logo {
    display: block;
    height: 48px;
    width: 48px;
    box-shadow: 12px;
}

.copyright {
    font-family: 'Comfortaa', sans-serif;
    font-size: 16px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

header {
    margin-top: 30px;
    animation-name: paslash;
    animation-duration: 700ms;
    -webkit-animation-name: paslash;
    -webkit-animation-duration: 700ms;
}

@keyframes paslash {
    0% {margin-top: 1px; opacity: 0; }
    50% {margin-top: 15px; opacity: 0;}
    75% {opacity: 0.5; }
    100% {margin-top: 30px; opacity: 1;}
}

@-webkit-keyframes paslash {
    0% {margin-top: 1px; opacity: 0; }
    50% {margin-top: 15px; opacity: 0;}
    75% {opacity: 0.5; } 
    100% {margin-top: 30px; opacity: 1; }
}

div.soc-links {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 32px;
    width: 32px;
}